* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* TOPOGRAPHY */

.main-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.content-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}



h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #d3d2d4;
  line-height: 65px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #d3d2d4;
  line-height: 55px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #d3d2d4;
  line-height: 45px;
}

p {
    font-size: 1rem;
    color: #d3d2d4;
}

.call-to-action-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FD7E14;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
}

/* NAVIGATION */

nav {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.nav-container {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  
}

.search {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}


nav a {
  color: #d3d2d4;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

.logo {
  font-size: 1rem;
  font-weight: 600;
  color: #d3d2d4;
}

.logo span {
  color:  #FD7E14;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburger-menu span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #d3d2d4;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }


  
  
  .hamburger-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger-menu.active span:nth-child(2) {
    opacity: 0; 
  }
  
  .hamburger-menu.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

/* HERO */

#hero {

  background: linear-gradient(to bottom, #000000 50%, #0f033d 70%, #170368 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.block-container {
  background-color: black;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 40px;
  margin: 60px 0 0 0;
}

.hero-content {
  position: relative;
  color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  text-align: left;
  margin: 80px 0;
}

.hero-text {
    max-width: 600px;
}

.hero-paragraph {
  margin: 30px 0;
  font-weight: 200;
  letter-spacing: 2px;
}

.cube-container {
    perspective: 1200px; /* Adds perspective for 3D effect */
    width: 300px;
  }
  
  .cube {
    position: relative;
    width: 180px;
    height: 180px;
    transform-style: preserve-3d; /* Preserve 3D transformation */
    animation: rotate 10s infinite linear; /* Optional rotation animation */
  }
  
  .face {
    position: absolute;
    width: 170px;
    height: 170px;
    background: lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .face img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the face */
  }
  
 /* Positioning the faces */
.front {
    transform: rotateY(0deg) translateZ(95px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(95px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(95px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(95px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(95px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(95px);
  }

  @keyframes rotate {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
/* ABOUT */

#about {
 display: none;
}

/* SERVICES */

#services {
  background-color: #0f033d;
}

.blocks-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0 40px 0;
}

.block {
  background-color: #04030a;
  padding: 40px;
  border-radius: 20px;
  
  flex: 1 1 380px;
  min-height: 235px;
  
}

/* General Footer Styles */
footer {
  background: linear-gradient(to top, #000000 50%, #0f033d 70%, #170368 100%);
  color: #fff; /* White text */
  font-family: Arial, sans-serif;
}

/* Footer Container */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  gap: 1rem;
}

.footer-column {
  flex: 1 1 200px; /* Each column is flexible */
  min-width: 200px;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 0.5rem 0;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fd7e14; /* Orange hover color */
}

/* Logo and Description */
.footer-logo h1
 {
  font-size: 1.8rem;
  color: #fd7e14; /* Orange color */
  margin: 0;
}

.footer-column a {
  color: #fd7e14;
}

.footer-logo h1 span {
  color: #fff; /* White color for "KONSULT" */
}

.footer-column p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-social {
  margin-top: 1rem;
}

.footer-social a {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #fd7e14; /* Orange hover color */
}

/* Bottom Bar */
.footer-bottom {
  background-color: #000; /* Black bottom bar */
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.8rem;
}

.footer-bottom p {
  margin: 0;
  color: #fff;
}


/* Media Queries */

/* Styles for screens larger than 2000px */
@media screen and (min-width: 2560px) {
  #hero {
    height: auto; 
  }

  .block-container {
    margin-bottom: 40px;
  }
  
}

/* Styles for screens up to 768px */

@media screen and (max-width: 768px) {
    .main-container{
    padding: 20px;
    }

    .nav-container {
    padding: 0 40px;
    }

    .block-container {
    padding: 20px;
    margin: 20px 0;
    }

    #hero {
      height: auto;
    }

    .hero-content {
      margin-top: 120px;
    }

    .cube-container,
    .search {
    display: none;
    }

    .hamburger-menu {
    display: flex;
    }

    h1 {
    font-size: 2.2rem;
    line-height: 55px;
    }

    h2 {
    font-size: 1.8rem;
    line-height: 45px;
    }
  nav ul {
    display: none;
  }

  nav ul li {
    margin-right: 0;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }


    /* Hide the menu in mobile view */
.nav-menu {
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 40px; 
    left: 0;
    right: 0;
    background-color: black; 
    padding: 1rem;
    opacity: 0; /* Initially hidden */
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .nav-menu.show {
    transform: translateY(0); /* Slide it into view */
    opacity: 1; /* Make it visible */ 
  }
  
  .nav-menu li {
    margin: 10px 25px; 
  }
  
  .nav-menu a {
    font-size: 14px;
    color: #d3d2d4;
    text-decoration: none;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
    #hero {
      height: auto; /* Allow content to adjust to height dynamically */
      overflow: auto; /* Enable scrolling if needed */
    }

    .cube-container {
        margin-right: 0;
      }

      .cube {
        width: 120px;
        height: 120px;
      }

      .face {
        width: 150px;
        height: 150px;
      }

      .front {
        transform: rotateY(0deg) translateZ(50px); /* Half the new cube width */
      }
    
      .back {
        transform: rotateY(180deg) translateZ(50px);
      }
    
      .right {
        transform: rotateY(90deg) translateZ(50px);
      }
    
      .left {
        transform: rotateY(-90deg) translateZ(50px);
      }
    
      .top {
        transform: rotateX(90deg) translateZ(50px);
      }
    
      .bottom {
        transform: rotateX(-90deg) translateZ(50px);
      }
  }
